NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=your_supabase_publishable_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

DATABASE_URL=your_database_url
SHADOW_DATABASE_URL=your_shadow_database_url

NEXT_PUBLIC_SITE_URL=http://localhost:3000
